*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  scroll-behavior: smooth;
  background-color: #F5F5F5;
}
::-webkit-scrollbar{
      display : none;    
}
input[type=checkbox] {
  margin-right: 10px;
}
select{
  border: 1px solid #E2E8F0;
  padding: 8px 10px 8px 10px;
}
.product-image{
height: 170px;
width: 270px;
border-radius: 5px;
object-fit: cover;
}
.product-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  padding: 10px;
  font-size: small;
  color: #616161;
  font-family: sans-serif;
}
h3{
  font-size: 1em;
}
h5{
  color: #616161;
  opacity: 0.7;
}
h2{
  font-weight:400;
}
.rating-stars{
  color: #FCD34D;
}
.wishlist{
  position: absolute;
 color: #9CA3AF;
 right: 10px;
 top: 4px;
}